<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PWAChat</title>
	<link rel="stylesheet" type="text/css" href="sources/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="sources/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
	<script src="sources/js/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
	<script src="sources/js/app.js"></script>
</head>
<body>
<div class="container">
    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            	<h1 class="title appname">{{ title }}</h1>	
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3" id="users-and-rooms">
                            <div class="users-container">
                                <div class="chat-search-box">
                                   <h4>Členové ({{ users.length }})</h4>
                                </div>
                                <ul class="users">
                                	<li class="person" v-for="user in users" :data-chat="user.id" v-on:click="loadThread(user.id)">
                                		<div class="user">
                                			<img :src="user.avatar" :alt="user.name">
                                			<span class="status" v-bind:class="[user.status]"></span>
                                		</div>
                                		<p class="name-time">
                                            <span class="name">{{ user.name }}</span>
                                        </p>
                                	</li>
                                </ul>
                                <div class="chat-search-box">
                                   <h4>Skupinové konverzace ({{ rooms.length }})</h4>
                                </div>
                                <ul class="users">
                                	<li class="person" v-for="room in rooms" :data-chat="room.id">
                                		<div class="user">
                                			<img v-for="image in getAllAvatars(room)" :src="image.avatar" :alt="image.name">
                                		</div>
                                		<p class="name-time">
                                            <span class="name">{{ room.name }}</span>
                                        </p>
                                	</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" id="thread-panel">
                            <div class="selected-user">
                                <span>To: <span class="name">{{ oposite_id }}</span></span>
                            </div>
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll">
                                	<li v-for="message in conversation" v-bind:class="chatSide(message.user.id)">
                                		<div class="chat-avatar">
                                            <img :src="message.user.avatar" :alt="message.user.name">
                                            <div class="chat-name">{{ message.user.name }}</div>
                                        </div>
                                        <div class="chat-text" v-html="message.message"></div>
                                        <div class="chat-hour">{{ convertDate(message.created_at) }} <span class="fa fa-check-circle"></span></div>
                                	</li>
                                </ul>
                                <div class="form-group mt-3 mb-0">
                                    <textarea class="form-control message" rows="3" placeholder="Type your message here..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->

                    <div class="row no-gutters avatars-box">
                        <img v-for="avatar in avatars" :src="avatar.path" :alt="avatar.id" v-bind:class="hasActiveClass(avatar.id)">
                       
                        <select class="selectpicker" name="" id="">
                            <option value="online">online</option>
                            <option value="offline">offline</option>
                            <option value="away">away</option>
                            <option value="busy">busy</option>
                        </select>
                        <input type="text">
                        <button class="btn-primary">Změnit</button>
                    </div>
                    
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>	
</body>
</html>