<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PWAChat</title>
	<link rel="stylesheet" type="text/css" href="sources/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="sources/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >
    

</head>
<body>
<div class="container" id="main-container">
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            	<h1 class="title appname">{{ title }}</h1>	
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            </div>
        </div>
    </div>
    <div class="content-wrapper app">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0">
                    <div v-if="logged && user">
                        <div class="row no-gutters user-panel">
                            <img v-for="avatar in avatars" :src="avatar.path" alt="no-photo" v-bind:class="hasActiveClass(avatar._id)" :data-avatar-id="avatar._id" v-on:click="changeUserAvatar(avatar._id)">
                            <select name="user-status" v-model="user.status" v-on:change="changeUserState()">
                                <option v-for="state in states" v-bind:value="state.code">{{ state.text }}</option>
                            </select>
                            <input type="text" v-model="user.name">
                            <button class="btn-primary" v-on:click="changeUserName()">Změnit</button>
                            <br>
                            <button type="button" class="btn btn-primary" name="logout" v-on:click="logout()">Odhlásit se</button>
                        </div>
                        <div class="row no-gutters" id="users-and-rooms">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                <div class="users-container">
                                    <div class="chat-search-box">
                                       <h4>Členové ({{ users.length }})</h4>
                                    </div>
                                    <ul class="users">
                                        <li class="person" v-for="(user, index) in users"  :key="index" data-chat="user._id" v-on:click="loadMessages(user)">
                                            <div class="user">
                                                <img :src="user.avatar.path" :alt="user.name">

                                                <span class="status" v-bind:class="user.status"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{ user.name }}</span> 
                                                <span v-if="user.unreaded > 0">
                                                    ({{ user.unreaded }})
                                                </span>
                                            </p>
                                        </li>
                                    </ul>
                                    <div class="chat-search-box" style="display:none;">
                                       <h4>Skupinové konverzace ({{ rooms.length }}) </h4>
                                    </div>
                                    <ul class="users" style="display: none;">
                                        <li class="person" v-for="room in rooms" :data-chat="room.id">
                                            <div class="user">
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{ room._id }}</span>
                                            </p>
                                        </li>
                                        <li class="person">
                                            <p class="name-time" v-on:click="createRoom()">
                                                <span class="name"> <i class="fa fa-plus"></i> Založit novou skupinu</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" id="thread-panel">

                                <div v-if="receiver" class="selected-user">
                                    <span>To: <span class="name">{{ oposite_name }}</span></span>
                                </div>

                                <div v-if="receiver" class="chat-container">
                                   
                                    <ul class="chat-box chatContainerScroll">
                                        <li v-for="message in conversation" v-bind:class="chatSide(message.sender._id)">
                                            <div class="chat-avatar">
                                                <img :src="message.sender.avatar.path" :alt="message.sender.name">
                                                <div class="chat-name">{{ message.sender.name }}</div>
                                            </div>
                                            <div class="chat-text" v-html="message.text"></div>
                                            <div class="chat-hour">{{ convertDate(message.created) }} <span class="fa fa-check-circle"></span></div>
                                        </li>
                                    </ul>
                                    <div class="form-group mt-3 mb-0">
                                        <textarea class="form-control message" rows="3" placeholder="Zpráva..." v-model="message"></textarea>
                                    </div>
                                    <div class="form-group mt-3 mb-0">
                                        <button class="brn btn-success" v-on:click="sendMessage">Odeslat</button>
                                    </div>
                                </div>
                                <div v-else>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <input type="text" name="id" v-model="id" class="form-control" placeholder="login">
                        <input type="password" name="password" v-model="password" class="form-control" placeholder="heslo">
                        <button type="button" class="btn btn-primary" name="login" v-on:click="login()">Přihlásit se</button>
                        <h6>Dostupné loginy pro testování</h6>
                        <ol>
                            <li v-for="login in test_logins">
                                <code>
                                    {{login.name}} <br>
                                    login: {{login.login}}<br>
                                    password: {{login.password}}
                                </code>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="sources/js/app.js"></script>	
</body>
</html>